.wrapper{
    transition: all .3s ease;
    padding: 1.25rem 1rem;
    max-width: 100%;
    border-bottom: 1px solid rgb( 0 0 0 / 0.05);
    background-color: transparent;
    z-index: 2;
    position: fixed;
    width: 100%;
}
.d-flex{
    display: flex;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    span{
        width: 12rem;
        height: 4rem;
        background-color: rgb(229 231 235/ 1);
        border-radius: .5rem;
        font-family: var(--font-secondary);
        color: #FFB800;
        font-weight: 600;
        font-size: 16px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
}
.nav-list{
    gap: 2rem;
}
.nav-item{
    list-style-type: none;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--text-color);
}
.justify-bettween{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.group-btn{
    gap: 2rem;
}
.srolled{
    background-color: var(--white);
    position: fixed;
}